<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All_MacOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>All_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>extended_iostat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0A860713968E8500D2272C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA473DA01377B2230005CC19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B79AC1373A4E500003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B79C51373A72800003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B79D41373A97000003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B79E01373AF7A00003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B79FD1373B9E900003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B7A0E1373BE9D00003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B7A3F137648E100003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B7A5D13765CC700003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B7A6913765D3E00003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4B7A7D13765F3C00003422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD2EE1372FB3D0025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD2FE1372FE4E0025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD3041372FFD80025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD31A137300ED0025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD32F137305DD0025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4FD3381373073E0025925C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA91CE59137F42ED00AE5160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA959E7E13968C8E00CA9C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9B763913739ABE001BB39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9B765513739C20001BB39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9B76781373A0D8001BB39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9B76991373A246001BB39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9B76A11373A2A2001BB39F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF48A139680CF0018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4971396812D0018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4A5139681910018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4BE139682BA0018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4CA139682F80018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4D7139683580018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4E3139683EB0018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9BF4EF139684B40018C7BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAEB39C13730D5C003EA7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAEB3A513730DFA003EA7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAEB3AC13730E1C003EA7A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D011377B3E6007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D0D1377B481007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D181377B4C9007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D3D1377B6E2007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D491377B7A7007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACC1D591377B85C007728F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE5899B137836A00049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE589AA137837130049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE589BA1378FCAA0049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE589DB137902F50049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE589E81379044E0049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE589F5137904DF0049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE58A0913799F610049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE58A1813799FFA0049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE58A351379A3F60049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE58A45137D69A60049DD3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4B5145F17781BDF008BDB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
